{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}我的博客{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <header>
      <h1>我的 Django 博客</h1>
      <hr>

      <p>
        {% if user.is_authenticated %}
            你好，{{ user.username }}
            <br>
           <a href="{% url 'accounts:profile_detail' user.username %}">我的主页</a> |
           <a href="{% url 'accounts:profile_edit' %}">编辑资料</a>
           <form action="{% url 'accounts:logout' %}" method="post" style="display:inline;">
             {% csrf_token %}
             <button type="submit">退出</button>
           </form>
        {% else %}
          <a href="{% url 'accounts:login' %}">登录</a> |
          <a href="{% url 'accounts:register' %}">注册</a>
        {% endif %}
      </p>
    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>© 2026 My Blog</p>
    </footer>
</body>
</html>